@charset "UTF-8";

header {
    margin-top: 50px;
}

body {
    background-color: rgb(221, 160, 63);
}

#titolo_signUp {
    margin-top: 3%;
    text-align: center;
    margin-bottom: 1%;
    font-style: italic;
    color: rgb(244, 47, 29);
    font-family: Helsinki;
}

#cont1 {
    background-color: rgb(255, 208, 67);
    width: 450px;
    height: 500px;
    margin-left: auto;
    position: relative;
    border-style: outset;
    border: 10px solid rgb(255, 208, 67);
    border-right: 5px solid rgb(255, 208, 67);
}

#imgSignUp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    min-width: auto;
    height: auto;
    width: 450px;
    max-width: 100%;
    max-height: 100%;
}

#cont2 {
    background-color: white;
    width: 450px;
    height: 500px;
    margin-right: auto;
    padding-top: 15px;
    border-style: outset;
    border: 10px solid rgb(255, 208, 67);
    border-left: 5px solid rgb(255, 208, 67);
}

#button_cont{
    margin-left: 10%;
    margin-right: auto;    
}

#button_SignUp{
    width: 80%;
}

.testo_link{
    text-align: center;
    color: blue;
}

#non_account{
    text-align: center;
    color: black;
}

@font-face {
    font-family: 'Helsinki';
    src: url('fonts/Helsinki.eot');
    src: url('fonts/Helsinki.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helsinki.woff2') format('woff2'),
        url('fonts/Helsinki.woff') format('woff'),
        url('fonts/Helsinki.ttf') format('truetype'),
        url('fonts/Helsinki.svg#Helsinki') format('svg');
}



@media only screen and (max-width: 950px) {
    #cont1 {
        margin-left: 28%;
        border-right: 10px solid rgb(255, 208, 67);
        border-bottom: 0px;
    }

    #cont2 {
        margin-left: 28%;
        height: 450px;
        border-left: 10px solid rgb(255, 208, 67);
        border-top: 0px;
    }
}


@media only screen and (max-width: 850px) {
    #cont1 {
        margin-left: auto;
        margin-right: auto;
    }

    #cont2 {
        margin-left: auto;
        margin-right: auto;
        height: 450px;
    }
}

@media only screen and (max-width: 768px) {
    #cont2 {
        height: 650px;
    }
}