:root {
    --clr1:#f95b11;
    --clr2:#fff;
    --clr3:#000;
    --clr4:#f42f1d;
    --clr5:limegreen;
}
body {
    margin:0;
    padding:0;
    top:0;
    left:0;
    right:0;
    box-sizing: border-box;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    overflow-x: hidden;
}
html::-webkit-scrollbar {
    width:1rem;
}
html::-webkit-scrollbar-thumb {
    background: #f42f1d;
}
.head {
    position:fixed;
    left:0;
    right:0;
    z-index: 1000;
    display: flex;
    background-color: rgb(255,205,57,0.95);
    color: white;
    padding: 1.5rem 9%;
    align-items: center;
    justify-content: space-between;
}
.head .navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight:600;
    margin:0 4rem;
}
.head .navbar a:hover {
    color: #f42f1d;
    transition: .4s ease;
}
.head .navbar li:active {
    font-family: Bahnschrift, serif;
    color: #f42f1d;
}
.head .side-bar i {
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: white;
    color: #f42f1d;
}
.head .side-bar i:hover {
    background-color: #f42f1d;
    color: rgb(255,205,57);
    transition: .5s ease all;
}

.headb {
    position: relative;
    z-index:1;
    left:0;
    right:0;
    margin: 0;
    display: flex;
    background-color: rgb(255,205,57,0.95);
    color: white;
    padding: 1.5rem 9%;
    align-items: center;
    justify-content: space-between;

}
.headb .navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight:600;
    margin:0 4rem;
}
.headb .navbar a:hover {
    color: #f42f1d;
    transition: .4s ease;
}

.headb .side-bar i {
    padding: 1.5rem;
    font-size: 2.1rem;
    border: none;
    background: white;
    color: #f42f1d;
}
.headb .side-bar i:hover {
    background-color: #f42f1d;
    color: rgb(255,205,57);
    transition: .5s ease all;
}


#bars {
    display: none;
}


#tabella { /* css per formattare il div con id="tabella" */
    background-color: white;
    height: 100%; /* css dire al div con id="tabella" di prendere tutta l'altezza disponibile della row in cui è contenuto */
}
#benvenuto {
    border-top: 2px solid #f42f1d;
    height: 90%;
    font-size:20px;
    background-color: white; /* ho messo il colore di sfondo solo per farti vedere quanto è grande il div con id="miele", puoi cancellarlo tranquillamente */
}
#benvenuto b { /* css per formattare slo ciò che è contenuto nel tag <b> del div con id="miele" */
    font-size:40px;
}

#julia {
    width: 50%;
    transition: width 3s ease;
}
#julia:hover {
    width: 100%;
}
#menu {
    width: 50%;
    transition: width 3s ease;
}
#menu:hover {
    left:100%;
}
.cella {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.btn {
    padding: 1.3rem 4rem;
    background-color: rgb(255,205,57);
    color: black;
    border: none;
    border-radius: .5rem;
    /* box-shadow: 0rem 2rem 2rem rgba(0, 0, 0, 0.1); */
    transition: all 0.1s ease 0s;

}

.btn:hover {
    background-color: rgb(255,205,57);
    box-shadow: 0px .2rem 2rem rgba(255, 85, 94, 0.4);
    color: #f42f1d;
    transform: translateY(-.05rem);
}

.btn:active {
    transform: translateY(-.05rem);
}


#flip {
    padding: 20px;
    background-color: white;
    width: 100%;
    color: #f42f1d;
    text-align: center;
}
#flip:hover {
    background-color: #f42f1d;
    color: #f7d913;
    transition: 2.4s ease;
}

#flip a {
    text-align: center;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight:600;
}
/*
#flip a:hover {
    color: white;
    transition: .4s ease;
}
 */

#panel1 {
    padding: 20px;
    margin-top: -1px;
    text-align: center;
    background-color: #e5eecc;
    width: 100%;
    height: auto;
    display: none;
}

#panel1 p{
    text-decoration: none;
    display:inline;
}

#panel1 a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.trigger a {
    background-color: white;
    color: #f42f1d;
    padding: 10px;
}
.trigger a:hover{
    background-color: #f42f1d;
    color: #f7d913;
    transition: .4s ease;
}
.trigger:active{
    background-color: #f42f1d;
    color: #f7d913;
}
.panel1 {
    width: 100%;
    display: inline-block;
    min-height: 1px;
}


.abbonato th{
    background-color: #222;
    border: 1px solid black;
    color: #f7d913;
    text-align: right;
    padding: 8px;
}

#abbonato1 td {
    color: black;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f42f1d;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}
#abbonato2 td {
    color: black;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f42f1d;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}
#abbonato3 td {
    color: black;
    background-color: #FFFFFF;
    border-bottom: 1px solid #f42f1d;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

select {
    text-align: center;
}

#sinistra {
    background-color: #f2e7c3;
    color: black;
    font-size: 16px;
}
#destra {
    background-color: blueviolet;
    display: none;
    color: black;
    font-size: 16px;
}

footer p {
    font-size: 16px;
}